<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Whatsapp Chat Stats</title>
    </head>
    
    <body>
        <p> Friend1 is {{friend1.name}}</p>
        <p> Friend2 is {{friend2.name}}</p>
        <p> Number of messages sent by {{friend1.name}} is {{friend1.message_count}}</p>
        <p> Number of messages sent by {{friend2.name}} is {{friend2.message_count}}</p>
        <p> Number of media sent by {{friend1.name}} is {{friend1.media_shared}}</p>
        <p> Number of media sent by {{friend2.name}} is {{friend2.media_shared}}</p>
        <p> Number of words sent by {{friend1.name}} is {{friend1.word_count}}</p>
        <p> Number of words sent by {{friend2.name}} is {{friend2.word_count}}</p>
        <p>We are considering words with 3 or more letters for frequently used words, words are not case sensitive</p>
        <p>Frequently used words sent by {{friend1.name}} are {{friend1.frequently_used_words}}</p>
        <p>Frequently used words sent by {{friend2.name}} are {{friend2.frequently_used_words}}</p>
        <p>Number of days without any message is {{date_object.no_message_days}} from a total of {{date_object.total_days}}</p>
        <p>Messages per day by {{friend1.name}} is {{friend1.messages_per_day}}</p>
        <p>Messages per day by {{friend2.name}} is {{friend2.messages_per_day}}</p>
        <p>Total length of all messages put together by {{friend1.name}} is {{friend1.total_messages_length}}</p>
        <p>Total length of all messages put together by {{friend2.name}} is {{friend2.total_messages_length}}</p>
        <p>Longest Message by {{friend1.name}} is {{friend1.longest_message}} Length is {{friend1.longest_message_length}}</p>
        <p>Longest Message by {{friend2.name}} is {{friend2.longest_message}} Length is {{friend2.longest_message_length}}</p>
        <p>For finding the longest conversation, we have considered a maximum time gap of 10 minutes between adjacent messages</p>
        <p>Longest conversation has {{date_object.longest_convo_messages}} messages, started at {{date_object.date_time_list[
        date_object.longest_convo_start]}}, ended at {{date_object.date_time_list[date_object.longest_convo_end]}}</p>
        <p>Average length of each message by {{friend1.name}} is {{friend1.average_message_length}}</p>
        <p>Average length of each message by {{friend2.name}} is {{friend2.average_message_length}}</p>
        <p>Average number of words per message by {{friend1.name}} is {{friend1.average_words_per_message}}</p>
        <p>Average number of words per message by {{friend2.name}} is {{friend2.average_words_per_message}}</p>
        <p>Frequently used emojis by {{friend1.name}} with description {{friend1.emojis_with_description}}</p>
        <p>Frequently used emojis by {{friend2.name}} with description {{friend2.emojis_with_description}}</p>
        <p>Most number of messages were sent at during {{date_object.messages_per_hour[0][0]}} hour of the day. Total messages at this hour are {{date_object.messages_per_hour[0][1]}} which is {{main_obj.peak_hour_percent}}% of total messages</p>
        <p>{% set percent_of_total_messages_day = (date_object.messages_per_day[0][1] / (friend1.message_count + friend2.message_count)) * 100 %}</p>
        <p>Most number of messages were sent on {{date_object.messages_per_day[0][0]}}. Total messages on this day are {{date_object.messages_per_day[0][1]}} which is {{main_obj.peak_day_percent}}% of total messages</p>
    </body>
</html>